<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your report is ready!</h1>
    <a href="https://ecb-report.herokuapp.com/reports/<%= @report.id %>">View Report</a>
  </body>
</html>
